.navbar {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link {
    color: black;
    transition: color 0.5s;
}

.nav-link:hover {
color: aqua;
}

.carousel-item {
    max-height: calc(100vh - 88px);
}

.carousel-item h5 {
    color:chartreuse;
    margin-bottom: 2rem;
    font-size:  3rem;
    text-shadow: 3px 3px 3px black;
}

.carousel-item p {
    text-shadow: 3px 3px 3px black;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.carousel-item .btn {
    width: 8rem;
    margin-bottom: 0.5rem;
}

.carousel-indicators button {
    background-color:blue !important;
    height: 0.4rem !important;
    width: 3rem !important;
    margin-right: 0.5rem !important;
}

.carousel-caption {
    bottom: 4rem;
}
.row h4{
    font-size: 2rem;
}
.row p{
    font-size: 1.2rem;
}
#instructors .card{
    transition: transform 0.5s;
}
#instructors .card:hover{
    transform: scale(1.05);
}
.socials{
    transition: transform 0.5s;
}
.socials i:hover{
    transform: scale(1.05);
    opacity: 0.5;
}
.bnn{
    border: none;
}
.pic1{
    width: 150%;

}
.col img{
    width: 25%;
}