.navbar {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link {
    color: black;
    transition: color 0.5s;
}

.nav-link:hover {
color: aqua;
}

.carousel-item {
    max-height: calc(100vh - 88px);
}

.carousel-item h5 {
    color:chartreuse;
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px black;
}

.carousel-item p {
    text-shadow: 3px 3px 3px black;
    font-weight: 600;
}

.carousel-item .btn {
    width: 7rem;
    margin-bottom: 0.5rem;
}

.carousel-indicators button {
    background-color:blue !important;
    height: 0.4rem !important;
    width: 3rem !important;
    margin-right: 0.5rem !important;
}

.carousel-caption {
    bottom: 4rem;
}
.row h4{
    font-size: 2rem;
}
.row p{
    font-size: 1.2rem;
}